.UsernameInput {
  margin: 2em 0;
}

.UsernameInput-username-label {
  margin-right: 0.5em;
}

.UsernameInput-search-box,
.UsernameInput-submit-button {
  font-size: 1em;
  margin: 0 0.1em;
}

.UsernameInput-error {
  margin-top: 0.5em;
  color: red;
}
