.App {
  text-align: center;
  line-height: 1.3;
}

.App-logo {
  animation: App-logo-spin infinite 10s 10s cubic-bezier(0.73, -0.24, 0.49, 1.23);
  height: 80px;
}

.App-header {
  background-color: #888;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  font-size: large;
  max-width: 50em;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
